{% extends 'base.html' %}
{% block content %}

    <form method="POST" action="#">
        <div class="table-responsive">


            <input class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Column name</th>
                <th>Fields</th>
            </tr>
            </thead>

            <tbody>

            <tr>
                <th>Что купить</th>
                <th><input maxlength="25" size="40"></th>
            </tr>

            <tr>
                <th>Кому</th>
                <th><input maxlength="25" size="40"></th>
            </tr>


            <tr>
                <th>Сумма заказа</th>
                <th><input maxlength="25" size="40"></th>
            </tr>

            <tr>
                <th>Комментарий</th>
                <th><textarea rows="5" cols="42"></textarea></th>
            </tr>

            <tr>

                <th><input type="submit"></input></th>

            </tr>

            </tbody>


            </table>
        </div>
    </form>

{% endblock %}