{% extends 'base.html' %}
{% block content %}

    <form method="POST" class="post-form">{% csrf_token %}
        <div class="table-responsive">


            <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Column name</th>
                <th>Fields</th>
            </tr>
            </thead>

            <tbody>
            {{ form.as_table }}


            <tr>

                <th><button type="submit" class="save btn btn-default">Send</button></th>

            </tr>

            </tbody>


            </table>
        </div>
    </form>

{% endblock content %}